﻿<section ng-controller="createEmployeeController">
    @model ExamEAP.Models.Employee

    @{
        ViewData["Title"] = "Create";
    }

    <h2>Create</h2>

    <h4>Employee</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="dto.employeeName" placeholder="Employee Name"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="dto.salary" placeholder="Salary"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="dto.department" placeholder="Department" />
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="dto.gender">
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" value="Create" class="btn btn-default" ng-click="doSubmit()"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</section>