﻿<section ng-controller="employeeController">
    <h2>Employees</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <p>
        <input type="text" ng-model="config.department" ng-keyup="refreshData($event)" placeholder="Search" class="form-control" />
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>
                Name
            </th>
            <th>
                Salary
            </th>
            <th>
                Department
            </th>
            <th>
                Gender
            </th>
            <th>
                Created At
            </th>
            <th>
                Updated At
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data">
            <th>{{item.employeeId}}</th>
            <td>
                {{item.employeeName}}
            </td>
            <td>
                {{item.salary}}
            </td>
            <td>
                {{item.department}}
            </td>
            <td>
                {{item.gender === 1 ? 'Male' : 'Female'}}
            </td>
            <td>
                {{item.createdAt}}
            </td>
            <td>
                {{item.updatedAt}}
            </td>
            @* <td> *@
            @*     <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> | *@
            @*     <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> | *@
            @*     <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a> *@
            @* </td> *@
        </tr>
        @* @foreach (var item in Model) { *@
        @* <tr> *@
        @*     <td> *@
        @*         @Html.DisplayFor(modelItem => item.EmployeeName) *@
        @*     </td> *@
        @*     <td> *@
        @*         @Html.DisplayFor(modelItem => item.Salary) *@
        @*     </td> *@
        @*     <td> *@
        @*         @Html.DisplayFor(modelItem => item.Department) *@
        @*     </td> *@
        @*     <td> *@
        @*         @Html.DisplayFor(modelItem => item.Gender) *@
        @*     </td> *@
        @*     <td> *@
        @*         @Html.DisplayFor(modelItem => item.CreatedAt) *@
        @*     </td> *@
        @*     <td> *@
        @*         @Html.DisplayFor(modelItem => item.UpdatedAt) *@
        @*     </td> *@
        @*     <td> *@
        @*         @Html.DisplayFor(modelItem => item.Status) *@
        @*     </td> *@
        @*     <td> *@
        @*         <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> | *@
        @*         <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> | *@
        @*         <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a> *@
        @*     </td> *@
        @*         </tr> *@
        @* } *@
        </tbody>
    </table>

</section>